<p id="notice"><%= notice %></p>

<p>
  <strong>Value:</strong>
  <%= @keyword.value %>
</p>

<ul>
  <% @suggestions.each do |sug|%>
      <li><%= sug.value %></li>
      <ul>
        <% sug.variants.each do |v| %>
            <li><%=v%></li>
        <% end %>
      </ul>
  <% end %>
</ul>
